[Unit]
Description=Apache Cassandra

[Service]
ExecStart=/usr/local/cassandra/current/bin/cassandra -f
ExecStop=/usr/local/cassandra/current/bin/nodetool drain
User=cassandra
Environment=CASSANDRA_LOG_DIR=/mnt/cassandra/logs
Environment=CASSANDRA_HEAPDUMP_DIR=/mnt/cassandra/artifacts

[Install]
WantedBy=multi-user.target

