apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config-control
  namespace: default
  labels:
    app.kubernetes.io/name: otel-collector
    app.kubernetes.io/component: aggregator
data:
  otel-collector-config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
      hostmetrics:
        collection_interval: 10s
        scrapers:
          cpu:
          disk:
          load:
          filesystem:
          memory:
          network:
          processes:

    processors:
      batch:
        timeout: 10s
        send_batch_size: 1024
      memory_limiter:
        check_interval: 1s
        limit_mib: 512
        spike_limit_mib: 128

    exporters:
      prometheus:
        endpoint: 0.0.0.0:8889
        namespace: otel
        send_timestamps: true
        resource_to_telemetry_conversion:
          enabled: true
      debug:
        verbosity: basic

    extensions:
      health_check:
        endpoint: 0.0.0.0:13133
      zpages:
        endpoint: 0.0.0.0:55679

    service:
      extensions: [health_check, zpages]
      pipelines:
        metrics:
          receivers: [otlp, hostmetrics]
          processors: [memory_limiter, batch]
          exporters: [prometheus]
        traces:
          receivers: [otlp]
          processors: [memory_limiter, batch]
          exporters: [debug]
        logs:
          receivers: [otlp]
          processors: [memory_limiter, batch]
          exporters: [debug]
