apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: default
  labels:
    app.kubernetes.io/name: grafana
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://localhost:9090
        isDefault: true
        editable: false
      - name: ClickHouse
        type: grafana-clickhouse-datasource
        access: proxy
        jsonData:
          defaultDatabase: default
          port: 9000
          protocol: native
          host: db0
        editable: false
