apiVersion: apps/v1
kind: Deployment
metadata:
  name: s3manager
  namespace: default
  labels:
    app.kubernetes.io/name: s3manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: s3manager
  template:
    metadata:
      labels:
        app.kubernetes.io/name: s3manager
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      nodeSelector:
        node-role.kubernetes.io/master: "true"
      tolerations:
        - key: node-role.kubernetes.io/master
          operator: Exists
          effect: NoSchedule
      containers:
        - name: s3manager
          image: cloudlena/s3manager:latest
          ports:
            - containerPort: 8080
              hostPort: 8080
              protocol: TCP
          env:
            - name: USE_IAM
              value: "true"
            - name: PORT
              value: "8080"
          resources:
            limits:
              memory: 256Mi
            requests:
              memory: 64Mi
              cpu: 50m
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
