apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: observability
  labels:
    app.kubernetes.io/name: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      - job_name: 'otel-collector'
        static_configs:
          - targets: ['localhost:8889']
        metrics_path: /metrics

      - job_name: 'cassandra-jmx'
        static_configs:
          - targets: ['localhost:9501']
        relabel_configs:
          - source_labels: [__address__]
            target_label: instance

      - job_name: 'node-exporter'
        static_configs:
          - targets: ['localhost:9100']

      - job_name: 'stress'
        static_configs:
          - targets: ['localhost:9500']
