apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-keeper-config
  namespace: default
  labels:
    app.kubernetes.io/name: clickhouse-keeper
data:
  keeper_config.xml: |
    <clickhouse>
        <logger>
            <level>information</level>
            <log>/mnt/db1/clickhouse/keeper/logs/clickhouse-keeper.log</log>
            <errorlog>/mnt/db1/clickhouse/keeper/logs/clickhouse-keeper.err.log</errorlog>
            <formatting>
                <type>json</type>
            </formatting>
        </logger>
        <listen_host>0.0.0.0</listen_host>
        <keeper_server>
            <tcp_port>2181</tcp_port>
            <server_id from_env="KEEPER_SERVER_ID"/>
            <log_storage_path>/var/lib/clickhouse-keeper/log</log_storage_path>
            <snapshot_storage_path>/var/lib/clickhouse-keeper/snapshots</snapshot_storage_path>
            <coordination_settings>
                <operation_timeout_ms>10000</operation_timeout_ms>
                <session_timeout_ms>30000</session_timeout_ms>
                <raft_logs_level>warning</raft_logs_level>
            </coordination_settings>
            <raft_configuration>
                <server>
                    <id>1</id>
                    <hostname>clickhouse-keeper-0.clickhouse-keeper.default.svc.cluster.local</hostname>
                    <port>9234</port>
                </server>
                <server>
                    <id>2</id>
                    <hostname>clickhouse-keeper-1.clickhouse-keeper.default.svc.cluster.local</hostname>
                    <port>9234</port>
                </server>
                <server>
                    <id>3</id>
                    <hostname>clickhouse-keeper-2.clickhouse-keeper.default.svc.cluster.local</hostname>
                    <port>9234</port>
                </server>
            </raft_configuration>
            <http_control>
                <port>9182</port>
                <readiness>
                    <endpoint>/ready</endpoint>
                </readiness>
            </http_control>
        </keeper_server>
        <prometheus>
            <endpoint>/metrics</endpoint>
            <port>9363</port>
            <metrics>true</metrics>
            <events>true</events>
            <asynchronous_metrics>true</asynchronous_metrics>
        </prometheus>
    </clickhouse>
