apiVersion: v1
kind: Service
metadata:
  name: clickhouse-keeper
  namespace: default
  labels:
    app.kubernetes.io/name: clickhouse-keeper
spec:
  type: ClusterIP
  clusterIP: None
  publishNotReadyAddresses: true
  ports:
    - name: client
      port: 2181
      targetPort: 2181
      protocol: TCP
    - name: raft
      port: 9234
      targetPort: 9234
      protocol: TCP
    - name: metrics
      port: 9363
      targetPort: 9363
      protocol: TCP
  selector:
    app.kubernetes.io/name: clickhouse-keeper
