---
apiVersion: v1
kind: Service
metadata:
  name: clickhouse
  namespace: default
  labels:
    app.kubernetes.io/name: clickhouse-server
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: http
      port: 8123
      targetPort: 8123
      protocol: TCP
    - name: native
      port: 9000
      targetPort: 9000
      protocol: TCP
    - name: interserver
      port: 9009
      targetPort: 9009
      protocol: TCP
    - name: metrics
      port: 9363
      targetPort: 9363
      protocol: TCP
  selector:
    app.kubernetes.io/name: clickhouse-server
---
apiVersion: v1
kind: Service
metadata:
  name: clickhouse-client
  namespace: default
  labels:
    app.kubernetes.io/name: clickhouse-server
    app.kubernetes.io/component: client
spec:
  type: NodePort
  ports:
    - name: http
      port: 8123
      targetPort: 8123
      protocol: TCP
    - name: native
      port: 9000
      targetPort: 9000
      protocol: TCP
  selector:
    app.kubernetes.io/name: clickhouse-server
